<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/mypicture.jpg"></p>
    <p>Hello! I'm Uran Hayashida.</p>
    <p>I'm a computer science student at Seattle Colleges.</p>
    <p>I used to work as a full-stack software engineer, and I'm looking for a job to apply for OPT programs (like an internship for F-1 visa students).</p>
<%- include('../partials/footer') %>