<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/mark_network_status_online.jpg"></p>
    <p>Contact us!</p>
    <p>email : abcdefg@gmail.com</p>
    <p>phone : 1234567890</p>
<%- include('../partials/footer') %>