<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <div class="row align-items-center">
        <img src="images/mark_network_status_online.jpg" style="max-width: 100px;">
        <p>Contact us!</p>
    </div>
    <p>email : abcdefg@gmail.com</p>
    <p>phone : 1234567890</p>
<%- include('../partials/footer') %>